      </div>
      <div id="sidebar" class="span3">
        <h5><lisp>(ob:gettext :recent-posts)</lisp></h5>
        <div id="recent-posts">
          <lisp>
		    (loop for p in (let ((POSTS ALL-POSTS)) (ob:get-posts nil 10))
		    do (insert (format "<li><a href=\"%s/%s\">%s</a></li> "
		    (ob:path-to-root)
		    (ob:post-htmlfile p)
		    (ob:post-title p)
		    )))
		  </lisp>
        </div>
	    <h5><lisp>(ob:gettext :tags)</lisp></h5>
        <div id="tags">
	      <lisp>(ob:insert-template "nav_tag-cloud.html")</lisp>
        </div>
        <h5><lisp>(ob:gettext :recent-comments)</lisp></h5>
        <div id="recent-comments">
          <script src="http://<lisp>(ob:blog-disqus BLOG)</lisp>.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=100" type="text/javascript"></script>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
	<div class="copyright" style="text-align: center;">
	  <lisp>(ob:post-content-html (ob:get-snippet "Copyright"))</lisp>
	  <p><lisp>(ob:gettext :powered-by)</lisp> <a href="https://github.com/renard/o-blog">o-blog</a>.</p>
	</div>
  </div>
</body>
</html>
